<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class = "main_content">
        {{> header}}
        <p>This site was created using free api's open meteo and position stack!</p>
        <img class="landscape" src="/img/land.jpg">
    </div>
    {{>footer}}
</body>

</html>